gui:
  expandFocusedSidePanel: true
  showRandomTip: false
  showBottomLine: false
  showCommandLog: false
  border: rounded
  authorColors:
    '*': '{{ colors.yellow }}'
  theme:
    activeBorderColor:
      - '{{ colors.blue }}'
      - bold
    inactiveBorderColor:
      - '{{ colors.foreground }}'
    optionsTextColor:
      - '{{ colors.green }}'
    selectedLineBgColor:
      - '{{ colors.grey1 }}'
    selectedRangeBgColor:
      - '{{ colors.grey1 }}'
    cherryPickedCommitBgColor:
      - '{{ colors.cyan }}'
    cherryPickedCommitFgColor:
      - '{{ colors.background }}'
      - bold
    unstagedChangesColor:
      - '{{ colors.red }}'
    defaultFgColor:
      - default

git:
  log:
    showWholeGraph: true
  autoFetch: false

os:
  editPreset: 'nvim'
{% raw %}
  open: 'xdg-open {{ filename }} >/dev/null'
{% endraw %}

disableStartupPopups: true

confirmOnQuit: true

update:
  method: never
