[Default Applications]
image/png={{ image_viewer }}.desktop
image/jpeg={{ image_viewer }}.desktop
image/webp={{ image_viewer }}.desktop
video/*=mpv.desktop
application/pdf=org.pwmt.zathura-pdf-mupdf.desktop

[Added Associations]
video/*=mpv.desktop;
application/pdf=org.pwmt.zathura-pdf-mupdf.desktop;
