" Use Vim's format of help file (has highlighting and "hyperlinks").
" If you would rather use a plain text help file set novimhelp.
set vimhelp

" Command used to edit files in various contexts.  The default is vim.
" If you would like to use another vi clone such as Elvis or Vile
" you will need to change this setting.
if executable('nvim')
    set vicmd=nvim
elseif executable('vim')
    set vicmd=vim
elseif $EDITOR != ''
    echo 'Note: using `'.$EDITOR.'` as the editor'
    let &vicmd = $EDITOR
    set novimhelp
endif

" In case I use a non-POSIX shell as $SHELL.
" Using /bin/sh ensures consistent system() / term() usage inside Vifm.
set shell=/bin/sh

" Preview by default
set quickview
set previewoptions=graphicsdelay:50000,hardgraphicsclear

" Leave the hands off the keyboard sometimes
" set mouse=a

" Don't wrap text in quickview
set nowrap

" This makes vifm perform file operations on its own instead of relying on
" standard utilities like `cp`.  While using `cp` and alike is a more universal
" solution, it's also much slower when processing large amounts of files and
" doesn't support progress measuring.
set syscalls

" Position indicator on the left
set number

" Trash Directory
" The default is to move files that are deleted with dd or :d to
" the trash directory.  If you change this you will not be able to move
" files by deleting them and then using p to put the file in the new location.
" I recommend not changing this until you are familiar with vifm.
" This probably shouldn't be an option.
set trash

" This is how many directories to store in the directory history.
set history=1000

" Automatically resolve symbolic links on l or Enter (only for files).
set nofollowlinks

" With this option turned on you can run partially entered commands with
" unambiguous beginning using :! (e.g. :!Te instead of :!Terminal or :!Te<tab>).
set fastrun

" Natural sort of (version) numbers within text.
set sortnumbers

" Maximum number of changes that can be undone.
set undolevels=100

" If you would like to run an executable file when you
" press return on the file name set this.
set norunexec

" Format for displaying time in file list. For example:
" TIME_STAMP_FORMAT=%m/%d-%H:%M
" See man date or man strftime for details.
set timefmt='%Y-%m-%d %H:%M'

" Show list of matches on tab completion in command-line mode
set wildmenu

" Display completions in a form of popup with descriptions of the matches
set wildstyle=popup

" Show dotfiles
set dotfiles

" No ../
set dotdirs=treeleafsparent

" Show number of sub-items
set dirsize=nitems

" Display suggestions in normal, visual and view modes for keys, marks and
" registers (at most 5 files).  In other view, when available.
set suggestoptions=normal,visual,view,otherpane,keys,marks,registers

" Ignore case in search patterns unless it contains at least one uppercase letter
set ignorecase
set smartcase

" Case insensitive path completion
set caseoptions=p

" Don't highlight search results automatically
set nohlsearch

" Use increment searching (search while typing)
set incsearch

" Try to leave some space from cursor to upper/lower border in lists
set scrolloff=4

" Don't do too many requests to slow file systems
if !has('win')
    set slowfs=curlftpfs
endif

" Miller mode
" set millerview
" set milleroptions=lsize:1,csize:3,rpreview:all

" Set custom status line look
set statusline=' %t%[ -> %T%]%= %A %10u:%-7g %5E  %5a %20d '

" Set custom ruler line look
set rulerformat='%2l/%S%[ +%x%]'

" What should be saved automatically between vifm sessions
set vifminfo=state,dhistory,chistory,shistory,phistory,bookmarks,bmarks

" Use ripgrep instead of grep
if executable('rg')
    set grepprg='rg --follow --hidden --color never --column --line-number --no-heading --smart-case %i %a %s'
endif

" Use fd instead of find
if executable('fd')
    set findprg='fd --follow --hidden --exclude .git --color never %p %s'
endif

" Select color scheme
if system('echo ' . expand('$TERM') . ' | grep "\-direct"') != ''
    colorscheme {{ theme }}
else
    colorscheme blue-16
endif

" ------------------------------------------------------------------------------

" :com[mand][!] command_name action
" The following macros can be used in a command
" %a is replaced with the user arguments.
" %c the current file under the cursor.
" %C the current file under the cursor in the other directory.
" %f the current selected file, or files.
" %F the current selected file, or files in the other directory.
" %b same as %f %F.
" %d the current directory name.
" %D the other window directory name.
" %m run the command in a menu window

command! df df -h %m
command! du du -achL %c %q
command! unpack !$XDG_BIN_HOME/extract.sh %f
command! shred shred -fu %f
command! run !!./%f
command! exif exiftool -all= -overwrite_original %f
command! info exiftool %c %q

" fzf file
command! FZFfile :
    \| set noquickview
    \| let $FZF_RES = term('fzf --prompt "File: " --no-multi --preview "$XDG_BIN_HOME/preview.sh {} \$FZF_PREVIEW_COLUMNS \$FZF_PREVIEW_LINES 2>/dev/null" 2>&0')
    \| if $FZF_RES != ''
    \|     execute 'goto' fnameescape($FZF_RES)
    \| endif
    \| unlet $FZF_RES
    \| set quickview

" fzf dir
command! FZFdir :
    \| set noquickview
    \| let $FZF_RES = term('fd --type d --follow --hidden --exclude .git --color never | fzf --no-multi --prompt "Directory: " --preview "lsd -1FAL --group-dirs first --icon always --color always {}" 2>&0')
    \| if $FZF_RES != ''
    \|     execute 'cd' fnameescape($FZF_RES)
    \| endif
    \| unlet $FZF_RES
    \| set quickview

" fzf zoxide
command! FZFzoxide :
    \| set noquickview
    \| let $FZF_RES = term('zoxide query --list | fzf --no-multi --prompt "Zoxide: " --no-multi 2>&0')
    \| if $FZF_RES != ''
    \|     execute 'cd' fnameescape($FZF_RES)
    \| endif
    \| unlet $FZF_RES
    \| set quickview

" ------------------------------------------------------------------------------

mark h ~/
mark C ~/Code
mark D ~/Downloads
mark P ~/Pictures
mark V ~/Videos
mark U ~/Music
mark f {{ xdg_dir.config_home }}
mark l {{ xdg_dir.data_home }}
mark e /etc
mark u /usr/share
mark o /opt
mark b /boot
mark m /media
mark M /mnt
mark A /run/media
mark v /var
mark t /tmp
mark d /dev
mark s /srv
mark r /

" ------------------------------------------------------------------------------

filextype {*.pdf,*.ps,*.eps,*.ps.gz,*.djvu,*.djv,*.epub,*.cbr,*.cbz,*.cbt,*.cb7},<application/pdf,application/postscript,application/epub+zip,image/vnd.djvu,image/x-djvu>
    \ zathura %f %i,

filextype {*.mobi,*.pdb}
    \ ebook-viewer %f %i,
    \ FBReader %f %i,

filetype {*.wav,*.mp3,*.flac,*.m4a,*.wma,*.ape,*.ac3,*.og[agx],*.spx,*.opus},<audio/*>
    \ mpv --no-video %f,
    \ mplayer %f,
    \ ffplay -hide_banner -nodisp -autoexit %c,

filextype {*.avi,*.mp4,*.wmv,*.dat,*.3gp,*.ogv,*.mkv,*.mpg,*.mpeg,*.vob,*.fl[icv],*.m2v,*.mov,*.webm,,*.m4v,*.r[am],*.divx,*.as[fx]},<video/*>
    \ mpv %f %i,
    \ haruna %f %i,
    \ ffplay -hide_banner -autoexit %f %i,

filextype {*.html,*.htm,*.xhtml},<text/html>
    \ firefox %f %i,
    \ qutebrowser %f %i,
    \ librewolf %f %i,
    \ chromium-browser %f %i,
    \ vieb %f %i,

filetype {*.o},<application/x-object> nm %f | less

filetype {*.[1-8]} man ./%c

filextype {*.bmp,*.jpg,*.jpeg,*.png,*.webp,*.gif,*.xpm},<image/*>
    \ qimgv %f %i,
    \ vimiv %f %i,
    \ imv %f %i,
    \ gwenview %f %i,

filextype {*.cr2}
    \ {Open in Darktable}
    \ darktable %f,
    \ {Open in RawTherapee}
    \ rawtherapee %f,

filextype {*.xcf}
    \ {Open in GIMP}
    \ gimp %f,

filextype {.kra}
    \ {Open in Krita}
    \ krita %f,

filextype {.blend}
    \ {Open in Blender}
    \ blender %c,

filextype {*.svg,*.svgz},<image/svg+xml>
    \ inkscape %f %i,
    \ inkview %f %i,

filextype {*.ora}
    \ krita %f %i,
    \ mypaint %f %i,

filextype {*.vym}
    \ vym %f %i,

filetype {*.md5}
    \ md5sum -c %f %S,

filetype {*.sha1}
    \ sha1sum -c %f %S,

filetype {*.sha256}
    \ sha256sum -c %f %S,

filetype {*.sha512}
    \ sha512sum -c %f %S,

filetype {*.zip,*.jar,*.war,*.ear,*.oxt,*.apkg},<application/zip,application/java-archive>
    \ {Mount with fuse-zip}
    \ FUSE_MOUNT|fuse-zip %SOURCE_FILE %DESTINATION_DIR,
    \ {View contents}
    \ tar -tf %f | less,

filetype {*.tar,*.tar.bz2,*.tbz2,*.tgz,*.tar.gz,*.tar.xz,*.txz,*.tar.zst,*.tzst},<application/x-tar>
    \ {Mount with archivemount}
    \ FUSE_MOUNT|archivemount %SOURCE_FILE %DESTINATION_DIR,

filetype {*.rar},<application/x-rar>
    \ {Mount with rar2fs}
    \ FUSE_MOUNT|rar2fs %SOURCE_FILE %DESTINATION_DIR,

filetype {*.iso},<application/x-iso9660-image>
    \ {Mount with fuseiso}
    \ FUSE_MOUNT|fuseiso %SOURCE_FILE %DESTINATION_DIR,

filetype {*.ssh}
    \ {Mount with sshfs}
    \ FUSE_MOUNT2|sshfs %PARAM %DESTINATION_DIR %FOREGROUND,

filetype {*.ftp}
    \ {Mount with curlftpfs}
    \ FUSE_MOUNT2|curlftpfs -o ftp_port=-,,disable_eprt %PARAM %DESTINATION_DIR %FOREGROUND,

filetype {*.7z},<application/x-7z-compressed>
    \ {Mount with fuse-7z}
    \ FUSE_MOUNT|fuse-7z %SOURCE_FILE %DESTINATION_DIR,

filextype {*.odt,*.doc,*.docx,*.sxw,*.xls,*.xlsx,*.ods,*.odp,*.pptx},
          \<application/vnd.openxmlformats-officedocument.*,
          \application/msword,
          \application/vnd.ms-excel>
    \ libreoffice %f %i,

filetype {*.tudu} tudu -f %c

filextype {*.pro} qtcreator %f %i

filetype {*.mbox} aerc %f

filetype /\.(json[5c]?|[mc]?[jt]sx?|)$/,
         \<application/json*,application/javascript,application/xhtml+xml,text/*>
    \ nvim %f,
    \ vim %f,
    \ helix %f,
    \ kak %f,
    \ emacsclient -a emacs -nw %f,

filextype <*>
    \ xdg-open,
    \ emacsclient -r -a emacs %f,

" ------------------------------------------------------------------------------

{% set preview_cmd = xdg_dir.bin_home ~ '/preview.sh %c:p %pw %ph' -%}

if $ALACRITTY_SOCKET == '' && $ZELLIJ == ''
    fileviewer <image/*,video/*,application/x-font*,font/*>!<image/vnd.djvu,image/x-djvu>
        \ {{ preview_cmd }} %pd %N 2>/dev/null
endif

fileviewer <*> {{ preview_cmd }} 2>/dev/null

" ------------------------------------------------------------------------------

" Easier to quit
nnoremap qq :quit!<cr>
nnoremap QQ :quit<cr>
nnoremap <C-q> :quit!<cr>

" Quick way to select all files in the view
nnoremap VV :%select<cr>

" Tag a file and move down to the next one
nmap <space> tj

" Start shell in current directory
nnoremap s :shell<cr>

" Display sorting dialog
nnoremap S :sort<cr>

" Toggle preview, and within preview toggle wrap
nnoremap w :view<cr>
vnoremap w :view<cr>gv
nnoremap ,w :set wrap!<cr>

" Grow/shrink window by 4 columns at a time
nnoremap < 4<c-w><
nnoremap > 4<c-w>>

" Open file using a chosen program in the background
nnoremap gb :file &<cr>

" Go to a Git project root
nnoremap gr :execute 'cd' system('git rev-parse --show-toplevel')<cr>

" Yank current directory / file path into the clipboard
if $WAYLAND_DISPLAY != ''
    nnoremap yd :!echo %d | wl-copy %i<cr>
    nnoremap yf :!echo %c:p | wl-copy %i<cr>
endif

" Mappings for faster renaming
nnoremap ci cw<c-a>
nnoremap cc cw<c-u>
nnoremap A cw

" Open editor to edit vifmrc and apply settings after returning to vifm
nnoremap ,c :write | edit $MYVIFMRC | restart<cr>

" Mappings for useful commands
nnoremap E :edit<cr>
nnoremap a :new<space>

" Tabs
nnoremap <C-t> :tabnew<cr>

" Map for fzf commands
nnoremap ff :FZFfile<cr>
nnoremap fd :FZFdir<cr>
nnoremap fz :FZFzoxide<cr>

" Quickly see the file's metadata
nnoremap I :info<cr>

" Open current directory in the other pane
nnoremap <A-i> :sync<cr>
" Open directory under cursor in the other pane
nnoremap <A-o> :sync %c<cr>

" Scroll in preview window
nnoremap <PageDown> <C-w>w5j<C-w>w
nnoremap <PageUp>   <C-w>w5k<C-w>w
nnoremap J <C-w>w5j<C-w>w
nnoremap K <C-w>w5k<C-w>w
