# Common options
# ==============
build-dir = /var/tmp
build-users-group = nixbld
builders-use-substitutes = true
cores = 0
fallback = true
flake-registry =
max-jobs = auto
require-sigs = true
sandbox = true
sandbox-fallback = false
substituters = https://cache.nixos.org https://nix-community.cachix.org
trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
use-xdg-base-directories = true

# Options managed with Ansible
# ============================
{% for entry in nix_extra_config | dict2items %}
{{ entry.key }} = {{ entry.value }}
{% endfor %}
