audio-channels=auto
ao=pipewire,pulse,jack,alsa
sub-auto=fuzzy
sub-bold=yes
profile=gpu-hq
gpu-context=wayland
user-agent="{{ user_agent }}"
script-opts=ytdl_hook-ytdl_path=/usr/bin/yt-dlp
screenshot-directory=~/Pictures/Screenshots
screenshot-high-bit-depth=no
screenshot-format=png
hwdec=auto
osd-font="{{ monospace_font }}"
osd-font-size={{ (font_size + 3) | float }}
sub-font="{{ sans_font }}"
sub-font-size={{ (font_size * 2) | float }}
sub-border-size=2
sub-border-color="#ff000000"
sub-color="#ffffffff"
