user: [{{ colors.blue | local.user.hex_to_rgb | join(', ') }}]
group: [{{ colors.blue | local.user.hex_to_rgb | join(', ') }}]
permission:
  read: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  write: [{{ colors.yellow | local.user.hex_to_rgb | join(', ') }}]
  exec: [{{ colors.red | local.user.hex_to_rgb | join(', ') }}]
  exec-sticky: [{{ colors.purple | local.user.hex_to_rgb | join(', ') }}]
  no-access: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
  octal: [{{ colors.cyan | local.user.hex_to_rgb | join(', ') }}]
  acl: [{{ colors.cyan | local.user.hex_to_rgb | join(', ') }}]
  context: [{{ colors.blue | local.user.hex_to_rgb | join(', ') }}]
date:
  hour-old: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  day-old: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  older: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
size:
  none: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
  small: [{{ colors.yellow | local.user.hex_to_rgb | join(', ') }}]
  medium: [{{ colors.orange | local.user.hex_to_rgb | join(', ') }}]
  large: [{{ colors.red | local.user.hex_to_rgb | join(', ') }}]
inode:
  valid: [{{ colors.purple | local,user.hex_to_rgb | join(', ') }}]
  invalid: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
links:
  valid: [{{ colors.teal | local.user.hex_to_rgb | join(', ') }}]
  invalid: [{{ colors.grey3 | lcoal.user.hex_to_rgb | join(', ') }}]
tree-edge: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
git-status:
  default: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
  unmodified: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
  ignored: [{{ colors.grey3 | local.user.hex_to_rgb | join(', ') }}]
  new-in-index: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  new-in-workdir: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  typechange: [{{ colors.yellow | local.user.hex_to_rgb | join(', ') }}]
  deleted: [{{ colors.red | local.user.hex_to_rgb | join(', ') }}]
  renamed: [{{ colors.green | local.user.hex_to_rgb | join(', ') }}]
  modified: [{{ colors.yellow | local.user.hex_to_rgb | join(', ') }}]
  conflicted: [{{ colors.red | local.user.hex_to_rgb | join(', ') }}]
