@define-color background rgba({{ colors.background | local.user.hex_to_rgb | join(', ') }}, {{ ui_opacity }});
@define-color light {{ colors.white2 }};
@define-color dark {{ colors.background }};
@define-color blue {{ colors.blue }};

#window {
  font-family: {{ monospace_font }};
  font-size: {{ font_size }}pt;
  background-color: @background;
  border: 2px solid @blue;
}

#input {
  margin: 3px;
  border: none;
  border-radius: 0;
  color: @light;
  background-color: transparent;
}

#scroll {
  margin-bottom: 2px;
}

#img {
  margin-right: 3px;
  margin-left: 3px;
  background-color: transparent;
}

#text {
  color: @light;
  margin: 3px;
}

#text:selected {
  color: @dark;
  background: @blue;
}

#entry:selected {
  background: @blue;
}
