# Main foreground and background
Stations            {{ colors.foreground }} {{ colors.background }}

# Playing station text color
Active Station      {{ colors.blue }}

# Status bar foreground and background
Status Bar          {{ colors.background }} {{ colors.blue }}

# Normal cursor foreground and background
Normal Cursor       {{ colors.background }} {{ colors.foreground }}

# Cursor foreground and background
# when cursor on playing station
Active Cursor       {{ colors.background }} {{ colors.blue }}

# Text color for extra function indication
# and jump numbers within the status bar
Extra Func          {{ colors.teal }}

# Text color for URL
PyRadio URL         {{ colors.green }}

# Message window border foreground and background.
# The background color can be left unset.
# Please refer to the following link for more info
# https://github.com/coderholic/pyradio#-alculated-colors
#
Messages Border     {{ colors.blue }}

# Cursor foreground and background
# This is the Line Editor cursor
Edit Cursor         {{ colors.background }} {{ colors.foreground }}

# Theme Transparency
# Values are:
#   0: No transparency (default)
#   1: Theme is transparent
#   2: Obey config setting
transparency        2
