;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

;; Some functionality uses this to identify you
(setq user-full-name "{{ users[ansible_facts.user_id]['fullname'] }}"
      user-mail-address "{{ users[ansible_facts.user_id]['email'] }}")

(setq-default
 ;; Tabs vs Spaces
 indent-tabs-mode nil
 tab-width 4
 evil-shift-width 4
 standard-indent 4
 line-spacing 2
 ;; from @tecosaur
 delete-by-moving-to-trash t
 window-combination-resize t
 x-stretch-cursor t)

(setq auto-save-default t
      truncate-string-ellipsis "…"
      shell-file-name "/bin/sh")

(add-hook 'doom-first-buffer-hook #'global-subword-mode) ;; use CamelCase words
(remove-hook 'doom-first-buffer-hook #'global-hl-line-mode) ;; no line highlighting

;; Font settings
(setq doom-font (font-spec :family "{{ monospace_font }}" :size 18 :weight 'semi-light)
      doom-serif-font (font-spec :family "{{ serif_font }}" :size 18 :weight 'semi-light)
      doom-variable-pitch-font (font-spec :family "{{ sans_font }}" :size 18)
      doom-big-font (font-spec :family "{{ monospace_font }}" :size 26 :weight 'semi-light)
      doom-symbol-font doom-font)

(custom-set-faces!
  '(font-lock-comment-face :slant italic)
  '(font-lock-keyword-face :weight bold))

(after! doom-modeline
  (setq doom-modeline-major-mode-icon t
        doom-modeline-major-mode-color-icon t
        doom-modeline-buffer-encoding t
        doom-modeline-enable-word-count t
        doom-modeline-unicode-fallback t))

;; Window split direction
(after! evil
  (setq evil-vsplit-window-right t
        evil-split-window-below t))

(after! emojify
  (setq emojify-display-style 'unicode))

{% if theme == 'nord' %}
(setq doom-theme 'doom-nord)
{% elif theme == 'onedark' %}
(setq doom-theme 'doom-one)
{% endif %}
(after! doom-themes
  (setq doom-themes-treemacs-theme 'doom-colors
        doom-themes-treemacs-enable-variable-pitch nil))

;; Pick an image for dashboard
(setq +doom-dashboard-banner-file (let ((choices (directory-files (expand-file-name "images" doom-user-dir) 'full (rx ".png" eos))))
                                    (file-truename (nth (random (length choices)) choices)))
      +doom-dashboard-banner-padding '(0 . 2)
      +doom-dashboard-functions '(doom-dashboard-widget-banner
                                  doom-dashboard-widget-shortmenu
                                  doom-dashboard-widget-loaded))

(setq display-line-numbers-type 'relative)

;; Quicker which-key
(after! which-key
  (setq which-key-idle-delay 0.5))

(after! flyspell
  (setq flyspell-lazy-idle-seconds 2))

(after! magit
  (setq magit-diff-refine-hunk 'all))

(after! projectile
  (setq projectile-project-search-path '("~/Code/")
        projectile-auto-discover nil))

(after! elfeed
  (setq elfeed-search-filter "@1-month-ago +unread"
        rmh-elfeed-org-files `(,(file-truename (expand-file-name "elfeed.org" doom-user-dir)))))

(setq org-directory "~/Documents/Org/")
(after! org
  (setq org-default-notes-file "~/Documents/Org/notes.org"
        org-agenda-files '("~/Documents/Org/agenda/agenda.org" "~/Documents/Org/agenda/archive.org")
        org-journal-dir "~/Documents/Org/journal/"
        org-confirm-babel-evaluate nil
        org-ellipsis "▾"
        org-log-done t
        org-log-into-drawser t
        org-insert-heading-respect-content nil
        org-hide-emphasis-markers t)
  (add-to-list 'org-modules 'ol-info))
(setq +org-present-text-scale 2)

;; A mere fraction of writeroom-mode
(add-hook! (org-mode markdown-mode adoc-mode)
  (setq visual-fill-column-width 120
        visual-fill-column-center-text t)
  (visual-fill-column-mode 1)
  (display-line-numbers-mode -1)
  (electric-indent-local-mode -1))

(use-package! org-tree-slide
  :commands org-tree-slide-mode
  :config
  (setq org-tree-slide-skip-outline-level 0
        org-image-actual-width nil
        org-tree-slide-heading-emphasis t
        org-tree-slide-modeline-display nil
        org-tree-slide-header t
        org-tree-slide-slide-in-effect t
        org-tree-slide-breadcrumbs " ▶ "
        org-tree-slide-activate-message "Presentation started..."
        org-tree-slide-deactivate-message "Thanks for listening!"))

(after! adoc-mode
  (setq adoc-display-images nil)
  (custom-set-faces!
   '(adoc-gen-face :foreground unspecified)
   '(adoc-title-0-face :inherit outline-1 :height unspecified)
   '(adoc-title-1-face :inherit outline-2 :height unspecified)
   '(adoc-title-2-face :inherit outline-3 :height unspecified)
   '(adoc-title-3-face :inherit outline-4 :height unspecified)
   '(adoc-title-4-face :inherit outline-5 :height unspecified)
   '(adoc-title-5-face :inherit outline-6 :height unspecified)
   `(adoc-list-face :foreground ,(doom-color 'dark-blue))
   `(adoc-meta-face :foreground ,(doom-color 'yellow))
   `(adoc-meta-hide-face :foreground ,(doom-color 'grey))
   `(adoc-reference-face :foreground ,(doom-color 'green))
   `(adoc-complex-replacement-face :foreground unspecified :background ,(doom-color 'magenta))
   `(adoc-verbatim-face :foreground ,(doom-color 'orange) :background ,(doom-color 'grey))))
