SUBVOLUME="{{ item.key }}"

FSTYPE="btrfs"

# No QGROUP value (yet?) since it's currently troublesome
QGROUP=""

# these are the default settings
SPACE_LIMIT="0.5"
FREE_LIMIT="0.2"

# Allow a list of users/groups to operate on this config's snapshots
ALLOW_USERS=""
ALLOW_GROUPS=""

SYNC_ACL="no"

BACKGROUND_COMPARISON="yes"

# Only "none" or "gzip" (no "zstd" though)
COMPRESSION="gzip"

# Cleaup snapshots based on the number created
NUMBER_CLEANUP="{{ item.value.number_cleanup.enabled | ternary('yes', 'no') }}"
NUMBER_MIN_AGE="{{ item.value.number_cleanup.min_age | default(1800) }}"
NUMBER_LIMIT="{{ item.value.number_cleanup.limit | default(50) }}"
NUMBER_LIMIT_IMPORTANT="{{ item.value.number_cleanup.limit_important | default(10) }}"

# Configure hourly snapshots
TIMELINE_CREATE="yes"
TIMELINE_CLEANUP="{{ item.value.timeline.cleanup_enabled | ternary('yes', 'no') }}"
TIMELINE_MIN_AGE="{{ item.value.timeline.min_age | default(1800) }}"
TIMELINE_LIMIT_HOURLY="{{ item.value.timeline.hourly | default(10) }}"
TIMELINE_LIMIT_DAILY="{{ item.value.timeline.daily | default(10) }}"
TIMELINE_LIMIT_WEEKLY="{{ item.value.timeline.weekly | default(0) }}"
TIMELINE_LIMIT_MONTHLY="{{ item.value.timeline.monthly | default(10) }}"
TIMELINE_LIMIT_YEARLY="{{ item.value.timeline.yearly | default(10) }}"

# Pre-post snapshot pairs
EMPTY_PRE_POST_CLEANUP="{{ item.value.pre_post_cleanup.enabled | ternary('yes', 'no') }}"
EMPTY_PRE_POST_MIN_AGE="{{ item.value.pre_post_cleanup.min_age | default(1800) }}"
