[{
  "include": [
    "{{ xdg_dir.config_home }}/waybar/sway/modules.jsonc",
    "{{ xdg_dir.config_home }}/waybar/sway/host.jsonc",
  ],

  "layer": "bottom",
  "position": "top",
  "height": 30,

  "modules-left": [
    "sway/mode",
    "sway/workspaces",
    "custom/arrow1",
    "sway/window"
  ],

  "modules-right": [
    "bluetooth",
    "custom/media",
    "tray",
    "custom/arrow2",
    "mpd",
    "custom/arrow3",
    "battery",
    "custom/arrow4",
    "pulseaudio",
    "custom/arrow5",
    "temperature",
    "custom/arrow6",
    "cpu",
    "custom/arrow7",
    "memory",
    "custom/arrow8",
    "network",
    "custom/arrow9",
    "custom/weather",
    "custom/arrow10",
    "clock#date",
    "custom/arrow11",
    "clock#time"
  ]
}]
