{
  "sway/workspaces": {
    "all-outputs": false,
    "disable-click": false,
    "disable-scroll": true,
    "disable-scroll-wraparound": true,
    "enable-bar-scroll": false,
    "format": "{icon}",
    "format-icons": {
      "1": "一",
      "2": "二",
      "3": "三",
      "4": "四",
      "5": "五",
      "6": "六",
      "7": "七",
      "8": "八",
      "9": "九",
      "10": "十"
    }
  },

  "sway/mode": {
    "format": "<span style=\"italic\"> {}</span>",
    "tooltip": false
  },

  "sway/window": {
    "format": "{}",
    "max-length": 30,
    "tooltip": false
  },

  "tray": {
    "icon-size": 24,
    "spacing": 8
  },

  "bluetooth": {
    "format": "{icon}",
    "format-icons": {
        "enabled": "",
        "disabled": ""
    },
    "tooltip-format": "{}"
  },

  "custom/media": {
    "exec": "{{ xdg_dir.config_home }}/waybar/scripts/media.sh",
    "interval": 2,
    "tooltip": false
  },

  "mpd": {
    "server": "{{ ansible_facts.env.XDG_RUNTIME_DIR }}/mpd.sock",
    "format": " {stateIcon}{title} - {artist}",
    "format-disconnected": "󰝛 ",
    "format-stopped": " ",
    "unknow-tag": "N/A",
    "state-icons": {
      "playing": "",
      "paused": " "
    },
    "on-scroll-up": "MPD_HOST='{{ ansible_facts.env.XDG_RUNTIME_DIR }}/mpd.sock' mpc next",
    "on-scroll-down": "MPD_HOST='{{ ansible_facts.env.XDG_RUNTIME_DIR }}/mpd.sock' mpc prev",
    "on-click": "MPD_HOST='{{ ansible_facts.env.XDG_RUNTIME_DIR }}/mpd.sock' mpc toggle",
    "on-click-right": "MPD_HOST='{{ ansible_facts.env.XDG_RUNTIME_DIR }}/mpd.sock' mpc stop",
    "interval": 2,
    "tooltip": false
  },

  "battery": {
    "states": {
      "warning": 20,
      "critical": 10
    },
    "format": " {capacity}%",
    "format-discharging": "{icon} {capacity}%",
    "format-icons": [
      " ",
      " ",
      " ",
      " ",
      " "
    ],
    "interval": 5,
    "tooltip": false
  },

  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "󰖁 muted",
    "format-bluetooth": "-{icon} {volume}%",
    "format-icons": {
      "headphone": "󰋋" ,
      "headset": "󰋎",
      "phone": "",
      "default": ["󰕿", "󰖀", "󰕾"]
    },
    "on-click": "/usr/bin/wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
    "on-click-right": "/usr/bin/pavucontrol-qt",
    "scroll-step": 1,
    "tooltip": false
  },

  "cpu": {
    "format": "󰍛 {usage}%",
    "states": {
      "warning": 70,
      "critical": 90
    },
    "interval": 2,
    "tooltip": false
  },

  "memory": {
    "format": "󱓞 {percentage}%",
    "states": {
      "warning": 70,
      "critical": 90
    },
    "interval": 2,
    "tooltip": false
  },

  "network": {
    "format-wifi": "  {essid}",
    "format-ethernet": "󰌘 {ifname}",
    "format-disconnected": "",
    "interval": 2,
    "tooltip": false
  },

  "custom/weather": {
    "exec": "{{ xdg_dir.config_home }}/waybar/scripts/wttr.sh",
    "interval": 3600,
    "tooltip": false
  },

  "clock#date": {
    "format": "{:%a %e %b %Y}",
    "locale": "C",
    "interval": 10,
    "tooltip": false
  },

  "clock#time": {
    "format": "{:%H:%M}",
    "locale": "C",
    "interval": 10,
    "tooltip": false
  },

  "custom/arrow1": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow2": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow3": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow4": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow5": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow6": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow7": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow8": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow9": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow10": {
    "format": "",
    "tooltip": false
  },
  "custom/arrow11": {
    "format": "",
    "tooltip": false
  }
}
