[core]
cache_dir = $XDG_CACHE_DIR/mopidy
config_dir = $XDG_CONFIG_DIR/mopidy
data_dir = $XDG_DATA_DIR/mopidy
max_tracklist_length = 10000
restore_state = true

[logging]
verbosity = 0
color = true
format = %(asctime)s %(levelname)s [%(process)d:%(threadName)s] %(name)s: %(message)s
config_file =

[audio]
mixer = software
mixer_volume = 100
output = tee name=t ! queue ! autoaudiosink t. ! queue ! audio/x-raw,rate=44100,channels=2,format=S16LE ! udpsink host=127.0.0.1 port=5555

[file]
enabled = false

[local]
enabled = true
media_dir = ~/Music
max_search_results = 200
scan_follow_symlinks = true
excluded_file_extensions =
  .directory
  .html
  .jpeg
  .jpg
  .log
  .nfo
  .pdf
  .png
  .txt
  .zip
timeout = 60
album_art_files =
    [aA]lbum*.jpg
    [aA]lbum*.jpeg
    [aA]lbum*.png
    [cC]over*.jpg
    [cC]over*.jpeg
    [cC]over*.png
    [fF]ront*.jpg
    [fF]ront*.jpeg
    [fF]ront*.png
    [aA]rtwork*.jpg
    [aA]rtwork*.jpeg
    [aA]rtwork*.png

{# mopidy-youtube reuses http.port option so enable http backend here just for it #}
[http]
enabled = true
hostname = 127.0.0.1
port = 6680
csrf_protection = true

[m3u]
enabled = true
base_dir = ~/Music
default_encoding = latin-1
default_extension = .m3u8

[softwaremixer]
enabled = true

[stream]
enabled = false

[mpd]
enabled = true
hostname = unix:{{ ansible_facts['env']['XDG_RUNTIME_DIR'] | default('/run/user/' ~ ansible_facts['real_user_id']) }}/mpd.sock
max_connections = 50
connection_timeout = 60
default_playlist_scheme = m3u
command_blacklist =
  listall
  listallinfo

[youtube]
enabled = true
musicapi_enabled = false
allow_cache = false
youtube_dl_package = yt_dlp
