pid_file                "{{ xdg_dir.data_home }}/mpd/mpd.pid"
db_file                 "{{ xdg_dir.data_home }}/mpd/mpd.db"
state_file              "{{ xdg_dir.data_home }}/mpd/mpdstate"
playlist_directory      "{{ xdg_dir.data_home }}/mpd/playlists"
log_file                "{{ xdg_dir.data_home }}/mpd/mpd.log"
music_directory         "~/Music"

audio_output {
    type                "fifo"
    name                "Visualizer feed"
    path                "/tmp/mpd.fifo"
    format              "44100:16:2"
}

audio_output {
    type                "pipewire"
    name                "Pipewire Audio Server"
}

auto_update             "no"
bind_to_address         "{{ ansible_facts['env']['XDG_RUNTIME_DIR'] | default('/run/user/' ~ ansible_facts['real_user_id']) }}/mpd.sock"
follow_outside_symlinks "yes"
follow_inside_symlinks  "yes"
filesystem_charset      "UTF-8"
