[Connection]
host = {{ ansible_facts['env']['XDG_RUNTIME_DIR'] | default('/run/user/' ~ ansible_facts['real_user_id']) }}/mpd.sock

[Library]
music_dir = ~/Music
cover_regex = ^(Album|album|Cover|cover|Folder|\.?folder|Front|front|Artwork|artwork).*\.(gif|jpeg|jpg|png|bmp)$

[Bling]
mmkeys = False
notify = True
notify_urgency = 0
