#!/bin/sh
{% if notification == 'mako' %}
exec makoctl dismiss --all
{% elif notification == 'dunst' %}
exec dunstctl close-all
{% elif notification == 'fnott' %}
exec fnottctl dismiss all
{% endif %}
