#!/bin/sh
{% if notification == 'dunst' %}
exec dunstctl context
{% elif notification == 'fnott' %}
exec fnottctl actions
{% elif notification == 'mako' %}
exec makoctl menu \
	{{ launcher }} {{ dmenu_flag }} -p 'Notification{{ (launcher == 'fuzzel') | ternary(': ', '') }}'
{% endif %}
