# /etc/ntpd.conf
# See ntpd.conf(5) and /etc/examples/ntpd.conf

{% for pool in ntp_pools %}
servers {{ pool }}
{% endfor %}

{% for server in ntp_servers %}
server {{ server }}
{% endfor %}

sensor *

{% for urls in openntpd_constraint %}
constraint from "{{ urls | list | join('" "') }}"
{% endfor %}
