# Configuration for /etc/init.d/earlyoom

{% if earlyoom_mem_min_percent != '' %}
# Set available memory minimum to PERCENT of total (default 10 %). [-m]
mem_min_percent={{ earlyoom_mem_min_percent }}

{% endif %}
{% if earlyoom_swap_min_percent != '' %}
# Set free swap minimum to PERCENT of total (default 10 %). [-s]
# Note: Both memory and swap must be below minimum for earlyoom to act.
swap_min_percent={{ earlyoom_swap_min_percent }}

{% endif %}
{% if earlyoom_mem_min_size != '' %}
# Set available memory minimum to SIZE[,KILL_SIZE] KiB. [-M]
mem_min_size={{ earlyoom_mem_min_size }}

{% endif %}
{% if earlyoom_swap_min_size is defined %}
# Set free swap minimum to SIZE[,KILL_SIZE] KiB. [-S]
swap_min_size={{ earlyoom_swap_min_size }}

{% endif %}
# Set niceness of earlyoom to -20 and oom_score_adj to -100? yes/no [-p]
set_priority={{ 'yes' if (earlyoom_set_priority | bool) else 'no' }}

# Enable d-bus notifications? yes/no [-n]
# Note: This needs dbus package installed.
dbus_notify={{ 'yes' if (earlyoom_dbus_notify | bool) else 'no' }}

supervisor="supervise-daemon"
