{% set all_public_network_interfaces = ( ansible_facts.interfaces | select('match', '^(eth|wlan|(en|wl|ww)[osxpP])[0-9]+') | list ) -%}
{#
  Hook priority list: https://wiki.nftables.org/wiki-nftables/index.php/Netfilter_hooks

  Quickstart: https://wiki.nftables.org/wiki-nftables/index.php/Quick_reference-nftables_in_10_minutes

  Dynamic blacklisting:
  - https://wiki.nftables.org/wiki-nftables/index.php/Meters
  - https://wiki.archlinux.org/title/Nftables#Dynamic_blackhole
  - https://unix.stackexchange.com/questions/581964/create-dynamic-blacklist-with-nftables

  Early broken packages dropping in netdev:
  - https://wiki.gentoo.org/wiki/Nftables#Family_netdev_and_ingress_hook
  - https://serverfault.com/questions/772195/drop-fragmented-packets-in-nftables

  udev's network interface naming scheme:
  - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_networking/consistent-network-interface-device-naming_configuring-and-managing-networking
  - https://systemd.io/PREDICTABLE_INTERFACE_NAMES/

  UDP is stateless, but the kernel can still mark a few conntrack states on the packets:
  - https://blog.cloudflare.com/everything-you-ever-wanted-to-know-about-udp-sockets-but-were-afraid-to-ask-part-1/
  - https://www.rigacci.org/wiki/lib/exe/fetch.php/doc/appunti/linux/sa/iptables/conntrack.html
  - https://www.frozentux.net/iptables-tutorial/chunkyhtml/x1555.html
  - https://github.com/torvalds/linux/blob/master/net/ipv4/udp.c
=#}
#!/usr/sbin/nft -f

# Clear all prior state
flush ruleset

# The priority needs to be lower than -400 (NF_IP_PRI_CONNTRACK_DEFRAG) to see fragments
table netdev filter {
{% for item in all_public_network_interfaces %}
	chain ingress_{{ item }} {
		type filter hook ingress device {{ item }} priority -500; policy accept;
		jump ingress
	}

{% endfor %}
	chain ingress {
		# Drop all fragments.
		ip frag-off & 0x1fff != 0 drop

		# Drop XMAS packets.
		tcp flags & (fin|syn|rst|psh|ack|urg) == fin|syn|rst|psh|ack|urg drop

		# Drop NULL packets.
		tcp flags & (fin|syn|rst|psh|ack|urg) == 0x0 drop

		# Drop uncommon MSS values.
		tcp flags syn tcp option maxseg size 1-535 drop
	}
}

table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;

		ct state invalid drop comment "Drop invalid connections"

		ct state { established, related } accept comment "Accept traffic originated from us"

		iif lo accept comment "Accept any localhost traffic"

		iif != lo ip daddr 127.0.0.1/8 drop comment "Drop connections to loopback not coming from loopback (IPv4)"
		iif != lo ip6 daddr ::1/128 drop comment "Drop connections to loopback not coming from loopback (IPv6)"

		tcp flags & (fin|syn|rst|ack) != syn ct state new drop comment "Drop non-SYN packets"

		tcp dport 113 reject with icmpx type port-unreachable comment "Reject AUTH to make it fail fast"

		# Run `nft describe icmp type` to list all the constants
		ip protocol icmp icmp type {
			echo-reply,
			destination-unreachable,
			echo-request,
			time-exceeded,
			parameter-problem,
		} limit rate 10/second burst 4 packets accept comment "Accept ICMP"

		meta l4proto ipv6-icmp icmpv6 type {
			destination-unreachable,
			packet-too-big,
			time-exceeded,
			parameter-problem,
			echo-request,
			echo-reply,
		} limit rate 10/second burst 4 packets accept comment "Accept basic IPv6 functionality"

		meta l4proto ipv6-icmp icmpv6 type {
			nd-router-solicit,
			nd-router-advert,
			nd-neighbor-solicit,
			nd-neighbor-advert,
		} ip6 hoplimit 255 accept comment "Allow IPv6 SLAAC"

		meta l4proto ipv6-icmp icmpv6 type {
			mld-listener-query,
			mld-listener-report,
			mld-listener-reduction,
			mld2-listener-report,
		} ip6 saddr fe80::/10 accept comment "Allow IPv6 multicast listener discovery on link-local"

		ip6 saddr fe80::/10 udp sport 547 udp dport 546 accept comment "Accept DHCPv6 replies from IPv6 link-local addresses"
{% if nftables_opened_ports.tcp is sequence and nftables_opened_ports.tcp | length > 0 %}

		tcp dport { {{ nftables_opened_tcp_ports | join(', ') }} } ct state new limit rate 10/second accept
{% endif %}
{% if nftables_opened_ports.udp is sequence and nftables_opened_ports.udp | length > 0 %}

		udp dport { {{ nftables_opened_udp_ports | join(', ') }} } ct state new limit rate 10/second accept
{% endif %}
	}

	chain forward {
		type filter hook forward priority 0; policy drop;
	}

	chain output {
		type filter hook output priority 0; policy accept;
	}
}
{{ nftables_extra_config }}
