k9s:
  ui:
    skin: {{ theme }}
    enableMouse: true
    crumbsless: true
    noIcons: true
  logger:
    buffer: 2000
    sinceSeconds: 60
  thresholds:
    cpu:
      critical: 90
      warn: 75
    memory:
      critical: 90
      warn: 75
