[Groups/0]
Name=Default
Default Layout=us
DefaultIM=keyboard-us
{% for item in fcitx5_input_methods %}

[Groups/0/Items/{{ loop.index - 1 }}]
Name={{ item }}
Layout=
{% endfor %}

[GroupOrder]
0=Default
