[observability]
log-level = "info"
observation-path = "/var/run/ntpd-rs/observe"

[synchronization]
minimum-agreeing-sources = 4
{%- for pool in ntp_pools %}

[[source]]
mode = "pool"
address = "{{ pool }}"
{% endfor %}
{%- for server in ntp_servers %}

[[source]]
{% if ntp_enable_nts | bool %}
mode = "nts"
{% else %}
mode = "server"
{% endif %}
address = "{{ server }}"
{% endfor %}
