#!/bin/sh

# Ref: https://kcli.readthedocs.io/en/latest/#container-install-method
exec podman run \
	--rm -it \
	--entrypoint="" \
	-p 9000:9000 \
	-v "$HOME"/.kcli:/root/.kcli \
	-v "$HOME"/.ssh:/root/.ssh:ro \
	-v "$HOME"/.kube:/root/.kube:ro \
	-v /var/lib/libvirt/images:/var/lib/libvirt/images \
	-v /var/run/libvirt:/var/run/libvirt \
	-v "$PWD":/workdir \
	quay.io/karmab/kcli:{{ kcli_version }} \
	/usr/local/bin/"$(basename "$0")" "$@"
