#!/bin/sh

# Source: https://vagrant-libvirt.github.io/vagrant-libvirt/installation.html
exec podman run \
	 --rm -it \
	-e LIBVIRT_DEFAULT_URI \
	-e CHECKPOINT_DISABLE=true \
	-e VAGRANT_BOX_UPDATE_CHECK_DISABLE=true \
	-v /var/run/libvirt:/var/run/libvirt \
	-v ~/.vagrant.d:/.vagrant.d \
	-v "$(realpath "$PWD")":"$PWD" \
	-w "$PWD" \
	--network host \
	--entrypoint /bin/bash \
	--security-opt label=disable \
	{{ vagrant_image_repository }}:{{ vagrant_image_tag }} \
	vagrant "$@"
