# btrbk.conf
# See btrbk.conf(5) for more details.
{% for option in btrbk_options | dict2items %}

{{ option.key }} {{ option.value }}
{% endfor %}
{% for item in btrbk_sections %}

{{ item.type }} {{ item.path }}
{% if item.options is defined %}
{% for opt in item.options | dict2items %}
  {{ opt.key }} {{ opt.value }}
{% endfor %}
{% endif %}
{% endfor %}
