{% set username = ansible_facts['user_id'] -%}

[core]
    whitespace = trailing-space
    autocrlf = input
{% if ssh_client == 'dropbear' %}
    sshCommand = dbclient -y
{% endif %}
[user]
    name = {{ users[username]['fullname'] }}
    email = {{ users[username]['email'] }}
{% if ssh_client == 'openssh' and gitcommit_sign_method == 'ssh' %}
    signingKey = {{ users[username]['ssh_public_key_path'] | default('~/.ssh/id_ed25519.pub') }}
{% elif gitcommit_sign_method == 'openpgp' %}
    signingKey = {{ users[username]['gpg_signature'] }}
{% endif %}
[gpg]
    format = {{ gitcommit_sign_method in ['ssh', 'openpgp'] | ternary(gitcommit_sign_method, 'x509') }}
{% if ssh_client == 'openssh' and gitcommit_sign_method == 'ssh' %}
[gpg "ssh"]
    allowedSignersFile = {{ users[username]['ssh_allowed_signers_path'] | default('~/.ssh/allowed_signers') }}
{% endif %}
{% if not gitcommit_sign_method in ['ssh', 'openpgp'] %}
[gpg "x509"]
    program = {{ gitcommit_sign_method }}
{% endif %}
[commit]
    gpgSign = true
    verbose = true
[tag]
    gpgSign = true
[rebase]
    autoSquash = true
[pull]
    rebase = true
[fetch]
    prune = true
[init]
    defaultBranch = main
    templateDir = {{ xdg_dir.config_home }}/git/templates
[branch]
    sort = -committerdate
[push]
    followTags = true
[diff]
    wsErrorHighlight = all
    colorMoved = default
[format]
    useAutoBase = true
[color "diff"]
    meta = blue
    frag = yellow
    old = red
    new = green
    oldMoved = magenta
    newMoved = cyan
    whitespace = red reverse
[help]
    autoCorrect = 1
[submodule]
    recurse = true
    # propagateBranches = true
[alias]
    l = log --all --graph --pretty=format:'%C(yellow)%h%Creset %C(green)%ad%Creset -%C(auto)%d %s %C(blue)<%an>%Creset' --date=format:'%Y-%m-%dT%H:%M'
    br = branch --sort=-committerdate --format='%(HEAD) %(color:green)%(committerdate:short)%(color:reset) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:blue)<%(authorname)>%(color:reset)'
    s = status -sbu
    sbu = submodule update --remote --rebase
    redo = reset HEAD~1 --mixed
    res = reset --hard
    unstage = reset HEAD
    wdiff = diff --word-diff
    compare = !git log $1...$2 --format='%C(bold)%C(green)%m%Creset %C(yellow)%h%Creset %C(bold)<%an>%Creset - %C(blue)%s%Creset' --left-right
    pfwl = push --force-with-lease
    stsh = stash --keep-index
    staash = stash --include-untracked
    staaash = stash --all
    standup = log --all --author='{{ users[username]['fullname'] }}' --since='9am yesterday' --format=%s

# External, non-core functions
[sendemail]
    annotate = true
[privacy]
    ignoreTimezone = true
    pattern = hms
[ghq]
    root = ~/Code
