# See please.ini(5) for more details.
{%- set sudo_group = 'sudo' if (ansible_facts.os_family == 'Debian') else 'wheel' %}

[{{ sudo_group }}_run_as_anyone]
name = {{ sudo_group }}
type = run
group = true
permit = true
require_pass = true
target = ^.*$
rule = ^.*$

[{{ sudo_group }}_edit_anything]
name = {{ sudo_group }}
type = edit
group = true
permit = true
require_pass = true
target = ^.*$
rule = ^.*$
{% for section in please_extra_config | dict2items %}

[{{ section.key }}]
{% for item in section.value | dict2items %}
{{ item.key }} = {{ item.value }}
{% endfor %}
{% endfor %}
