[Unit]
Description=Notification daemon {{ notification }}

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/{{ notification }}
{% if notification == 'mako' %}
ExecReload=/usr/bin/makoctl reload
{% endif %}
