on_force_close "detach"

pane_frames false

mouse_mode false

scroll_buffer_size 50000

copy_command "wl-copy"

theme "custom_theme"

themes {
    custom_theme {
        fg {{ colors.foreground | local.user.hex_to_rgb | join(' ') }}
        bg {{ colors.background | local.user.hex_to_rgb | join(' ') }}
        black {{ colors.grey1 | local.user.hex_to_rgb | join(' ') }}
        gray {{ colors.grey3 | local.user.hex_to_rgb | join(' ') }}
        white {{ colors.white2 | local.user.hex_to_rgb | join(' ') }}
        red {{ colors.red | local.user.hex_to_rgb | join(' ') }}
        green {{ colors.green | local.user.hex_to_rgb | join(' ') }}
        yellow {{ colors.yellow | local.user.hex_to_rgb | join(' ') }}
        blue {{ colors.blue | local.user.hex_to_rgb | join(' ') }}
        magenta {{ colors.purple | local.user.hex_to_rgb | join(' ') }}
        cyan {{ colors.cyan | local.user.hex_to_rgb | join(' ') }}
        orange {{ colors.orange | local.user.hex_to_rgb | join(' ') }}
    }
}
