[general]
live_config_reload = false

[env]
TERM = "alacritty-direct"

[window]
padding = { x = 2, y = 2 }
decorations = "None"
opacity = {{ ui_opacity }}
blur = true
dynamic_title = false

[scrolling]
history = 50000
multiplier = 5

[font]
size = {{ font_size }}

[font.normal]
family = "{{ term_font }}"
style = "Regular"

[font.bold]
family = "{{ term_font }}"
style = "Bold"

[font.italic]
family = "{{ term_font }}"
style = "Italic"

[font.bold_italic]
family = "{{ term_font }}"
style = "Bold Italic"

[colors.primary]
foreground = "{{ colors.foreground }}"
background = "{{ colors.background }}"

[colors.cursor]
text = "{{ colors.background }}"
cursor = "{{ colors.foreground }}"

[colors.vi_mode_cursor]
text = "{{ colors.background }}"
cursor = "{{ colors.foreground }}"

[colors.search]
matches = { foreground = "{{ colors.background }}", background = "{{ colors.blue }}" }
focused_match = { foreground = "{{ colors.background }}", background = "{{ colors.yellow }}" }

[colors.hints]
start = { foreground = "{{ colors.background }}", background = "{{ colors.green }}" }
end = { foreground = "{{ colors.green }}", background = "{{ colors.background }}" }

[colors.footer_bar]
foreground = "{{ colors.background }}"
background = "{{ colors.foreground }}"

{% if theme == 'nord' %}
[colors.normal]
black = "#3b4252"
red = "#bf616a"
green = "#a3be8c"
yellow = "#ebcb8b"
blue = "#81a1c1"
magenta = "#b48ead"
cyan = "#88c0d0"
white = "#e5e9f0"

[colors.bright]
black = "#4c566a"
red = "#bf616a"
green = "#a3be8c"
yellow = "#ebcb8b"
blue = "#81a1c1"
magenta = "#b48ead"
cyan = "#8fbcbb"
white = "#eceff4"

[colors.dim]
black = "#373e4d"
red = "#94545d"
green = "#809575"
yellow = "#b29e75"
blue = "#68809a"
magenta = "#8c738c"
cyan = "#6d96a5"
white = "#aeb3bb"
{% elif theme == 'onedark' %}
[colors.normal]
black = "#282c34"
red = "#be5046"
green = "#98c379"
yellow = "#d19a66"
blue = "#61afef"
magenta = "#c678dd"
cyan = "#56b6c2"
white = "#abb2bf"

[colors.bright]
black = "#5c6370"
red = "#e06c75"
green = "#98c379"
yellow = "#e5c07b"
blue = "#61afef"
magenta = "#c678dd"
cyan = "#56b6c2"
white = "#ffffff"
{% endif %}

[bell]
animation = "EaseOutExpo"
color = "{{ colors.foreground }}"

[cursor]
style = { shape = "Beam" }
vi_mode_style = { shape = "Block" }

[mouse]
hide_when_typing = true
