# aerc main configuration
# See aerc-config(5)

[general]
default-save-path = ~/Downloads/

pgp-provider = gpg

enable-osc8 = true

[ui]
index-columns = flags>4,name<25,date<25,subject<*

{% raw %}
column-subject = {{ .ThreadPrefix }}{{ .Subject }}
column-flags = {{ .Flags | join "" }}
column-name = {{ index (.From | names) 0 }}
column-date = {{ .DateAutoFormat .Date.Local }}
{% endraw %}

timestamp-format = 2006 Jan 02, 15:04 GMT-0700

this-day-time-format = 15:04

this-week-time-format = Monday 15:04

this-year-time-format = Jan 02

sidebar-width = 25

mouse-enabled = true

pinned-tab-marker = '󰐃'

spinner = "\,|,/,-"

sort = from -r date

{% raw %}
dirlist-left = {{ .Folder }}
dirlist-right = {{ if .Unread }}{{ humanReadable .Unread }}/{{ end }}{{ if .Exists }}{{ humanReadable Exists }}{{ end }}
{% endraw %}

dirlist-tree = true

border-char-vertical = │
border-char-horizontal = ─

stylesets-dirs = {{ xdg_dir.config_home }}/aerc/stylesets
styleset-name = blue

icon-unencrypted =
icon-encrypted = 
icon-signed = 󰏫
icon-signed-encrypted = 󰏮
icon-unknown = ✘
icon-invalid = ⚠

fuzzy-complete = true

[ui:account=Work]
styleset-name = purple

[ui:account=Personal]
styleset-name = green

{% raw %}
[ui:folder = Sent]
index-column = flags>4,to<25,date<25,subject<*
column-flags = {{ .Flags | join "" }}
column-to = {{ .To | persons | join ", " }}
column-date = {{ .DateAutoFormat .Date.Local }}
column-subject = {{ .ThreadPrefix }}{{ .Subject }}

[statusline]
status-column = left<*,right>*
column-left = {{ .Account }} {{ .StatusInfo }}
column-right = {{ .TrayInfo }}
{% endraw %}

[compose]
editor = nvim

address-book-cmd = sh -c 'abook --mutt-query "%s" | tail -n +2'

file-picker-cmd = fzf --prompt 'Attachments: ' --multi --query=%s

reply-to-self = false

[filters]
text/html = {{ xdg_dir.config_home }}/aerc/filters/html | lowdown -t term -

text/calendar = /usr/share/aerc/filters/calendar

text/* = bat -fP --file-name="$AERC_FILENAME" --style=plain

image/* = chafa --animate off --size $(tput cols)x$(tput lines) --format symbols -

[hooks]
mail-received = notify-send -u normal -t 5000 -a "Aerc" -i {{ xdg_dir.data_home }}/icons/notifications/email.png "New email from $AERC_FROM_NAME" "$AERC_SUBJECT"

[templates]
template-dirs = {{ xdg_dir.config_home }}/aerc/templates/
