"$schema" = "https://yazi-rs.github.io/schemas/theme.json"

[manager]
cwd = { fg = "{{ colors.cyan }}" }

# Hovered
preview_hovered = {}

# Find
find_keyword = { fg = "{{ colors.yellow }}", bold = true, underline = true }
find_position = { fg = "{{ colors.purple }}", bg = "reset", bold = true }

# Marker
marker_copied = { fg = "{{ colors.green }}", bg = "{{ colors.green }}" }
marker_cut = { fg = "{{ colors.red }}", bg = "{{ colors.red }}" }
marker_marked = { fg = "{{ colors.cyan }}", bg = "{{ colors.cyan }}" }
marker_selected = { fg = "{{ colors.yellow }}", bg = "{{ colors.yellow }}" }

# Tab
tab_active = { fg = "{{ colors.cyan }}", reversed = true }
tab_inactive = { fg = "{{ colors.cyan }}" }

# Count
count_copied = { fg = "{{ colors.foreground }}", bg = "{{ colors.green }}" }
count_cut = { fg = "{{ colors.foreground }}", bg = "{{ colors.red }}" }
count_selected = { fg = "{{ colors.foreground }}", bg = "{{ colors.yellow }}" }

# Border
border_style = { fg = "{{ colors.foreground }}" }

# Highlighting
syntect_theme = "{{ xdg_dir.config_home }}/yazi/syntaxes/{{ theme }}.tmTheme"

[mode]
normal_main = { fg = "{{ colors.background }}", bg = "{{ colors.blue }}", bold = true }
normal_alt = { fg = "{{ colors.blue }}", bg = "{{ colors.grey1 }}" }
select_main = { fg = "{{ colors.background }}", bg = "{{ colors.yellow }}", bold = true }
select_alt = { fg = "{{ colors.yellow }}", bg = "{{ colors.grey1 }}" }
unset_main  = { fg = "{{ colors.background }}", bg = "{{ colors.red }}", bold = true }
unset_alt = { fg = "{{ colors.red }}", bg = "{{ colors.grey1 }}" }

[status]
overall = {}

# Progress
progress_normal = { fg = "{{ colors.blue }}", bg = "{{ colors.grey1 }}" }
progress_error  = { fg = "{{ colors.red }}", bg = "{{ colors.grey1 }}" }

# Permissions
perm_type = { fg = "{{ colors.green }}" }
perm_read = { fg = "{{ colors.yellow }}" }
perm_write = { fg = "{{ colors.red }}" }
perm_exec = { fg = "{{ colors.cyan }}" }
perm_sep = { fg = "{{ colors.highlight }}" }

[pick]
border = { fg = "{{ colors.blue }}" }
active = { fg = "{{ colors.purple }}", bold = true }

[input]
border = { fg = "{{ colors.blue }}" }
title  = { bold = true }

[cmp]
border = { fg = "{{ colors.blue }}"}

[tasks]
border = { fg = "{{ colors.blue }}" }
hover  = { fg = "{{ colors.purple }}", underline = true }

[which]
mask            = { bg = "{{ colors.grey1 }}" }
cand            = { fg = "{{ colors.cyan }}" }
rest            = { fg = "{{ colors.highlight }}" }
desc            = { fg = "{{ colors.purple }}" }
separator_style = { fg = "{{ colors.highlight }}" }

[help]
on      = { fg = "{{ colors.cyan }}" }
run     = { fg = "{{ colors.purple }}" }
footer  = { fg = "{{ colors.background }}", bg = "{{ colors.foreground }}" }

[notify]
title_info  = { fg = "{{ colors.green }}" }
title_warn  = { fg = "{{ colors.yellow }}" }
title_error = { fg = "{{ colors.red }}" }

[filetype]
rules = [
  { mime = "application/{x-tar*,x-gtar*,*-compressed-tar,zip,zlib,java-archive,vnd.android.package-archive,x-zip*,zstd,x-xz*,*-xz-compressed,vnd.rar,x-rar*,x-7z-compressed,vnd.efi.iso,x-*-rom,x-compressed-iso,x-iso9660-image,x-iso9660-appimage,x-cpio*,gzip,vnd.ms-cab-compressed,x-archive,x-bzip,x-lzma,x-lzip,x-lha,x-lzop,x-lzh*,x-lz4,x-lrzip}", fg = "{{ colors.orange }}" },

  { mime = "application/{pdf,x-*pdf,x-*dvi,x-cb*,x-fictionbook+xml,epub+zip,postscript,x-*postscript,vnd.oasis.opendocument.*,vnd.openxmlformats-officedocument.*}", fg = "{{ colors.dark_blue }}" },
  { mim = "image/vnd.djvu", fg = "{{ colors.dark_blue }}" },

  { mime = "image/*", fg = "{{ colors.teal }}" },
  { mime = "{audio/video}/*", fg = "{{ colors.purple }}" },

  { name = "*", is = "sock", fg = "{{ colors.purple }}", bg = "{{ colors.grey1 }}" },
  { name = "*", is = "fifo", fg = "{{ colors.yellow }}", bg = "{{ colors.grey1 }}" },
  { name = "*", is = "link", fg = "{{ colors.teal }}" },
  { name = "*/", is = "link", fg = "{{ colors.teal }}", bold = true },
  { name = "*", is = "char", fg = "{{ colors.yellow }}" },
  { name = "*", is = "block", fg = "{{ colors.yellow }}" },
  { name = "*", is = "exec", fg = "{{ colors.green }}" },
  { name = "*", is = "orphan", fg = "{{ colors.red }}", italic = true },

  { name = "*", fg = "{{ colors.foreground }}" },
  { name = "*/", fg = "{{ colors.blue }}", bold = true },
]

[icon]
dirs = [
  { name = ".git", text = "" },
  { name = ".github", text = "" },
  { name = ".gitlab", text = "" },
  { name = ".vscode", text = "" },
  { name = ".cache", text = "󰝉" },
  { name = ".config", text = "" },
  { name = ".local", text = "󰉌" },
  { name = ".kube", text = "󱃾" },
  { name = ".mozilla", text = "󰈹" },
  { name = ".librewolf", text = "󰈹" },
  { name = ".thunderbird", text = "" },
  { name = ".tor project", text = "" },
  { name = "nix", text = "" },
  { name = ".nix-profile", text = "" },
  { name = "gnu", text = "" },
  { name = "guix", text = "" },
  { name = ".guix-profile", text = "" },
  { name = "node_modules", text = "" },
  { name = "Android", text = "" },
  { name = "Books", text = "" },
  { name = "Code", text = "" },
  { name = "Desktop", text = "" },
  { name = "Documents", text = "" },
  { name = "Downloads", text = "" },
  { name = "Music", text = "󰌳" },
  { name = "Pictures", text = "" },
  { name = "Public", text = "" },
  { name = "Templates", text = "" },
  { name = "Videos", text = "󰨜" },
]

conds = [
  # Special files
  { if = "orphan", text = "" },
  { if = "block", text = "" },
  { if = "char", text = "" },
  { if = "fifo", text = "󰈲" },
  { if = "sock", text = "󰆨" },
  { if = "dummy", text = "?" },

  # Fallback
  { if = "dir", text = "󰝰" },
  { if = "link", text = "" },
  { if = "exec", text = "" },
  { if = "!dir", text = "󰈔" },
]
