# vim: ft=dosini

border.bg={{ colors.purple }}
dirlist*.selected.fg=white
dirlist*.selected.bg={{ colors.purple }}
dirlist*.selected.bold=true

title.reverse=true
header.bold=true
header.fg={{ colors.blue }}

*error.bold=true
*error.fg=red
*warning.fg=yellow
*success.fg=green

statusline*.fg=white
statusline*.bold=true
statusline_default.bg={{ colors.purple }}
statusline_success.bg=green
statusline_error.bg=red

msglist_unread.fg=white
msglist_unread.bold=true
msglist_deleted.fg=gray
msglist_*.selected.bg={{ colors.purple }}
msglist_*.selected.fg=white
msglist_*.selected.bold=true
msglist_marked.fg={{ colors.blue }}
msglist_marked.selected.fg=white
msglist_marked.selected.bg={{ colors.blue }}

tab.selected.fg=white
tab.selected.bg={{ colors.purple }}
tab.selected.bold=true

selector_focused.bold=true
selector_focused.bg={{ colors.purple }}
selector_focused.fg=white
selector_chooser.bold=true
selector_chooser.bg={{ colors.purple }}
selector_chooser.fg=white
default.selected.bold=true
default.selected.fg=white
default.selected.bg={{ colors.purple }}

completion*.fg=white
completion*.bg=gray
completion*.selected.bg={{ colors.purple }}
completion_pill.reverse=true
