{
  :identify                 true
  :view                     false
  :show-original            false
  :show-original-dictionary true
  :indent                   2
  :hl                       "en"
  :tl                       "ja"
  :engine                   "google"
  :browser                  "xdg-open"
  :pager                    "less -R"
  :theme                    "happiness.trans"
  :user-agent               "{{ user_agent }}"
}
