if test -e "$XDG_STATE_HOME/nix/profile/etc/profile.d/hm-session-vars.sh"
  fenv "source $XDG_STATE_HOME/nix/profile/etc/profile.d/hm-session-vars.sh"
end

for path in $XDG_BIN_HOME $GOPATH/bin $CARGO_HOME/bin $XDG_DATA_HOME/pnpm $KREW_ROOT/bin $XDG_DATA_HOME/luarocks/bin
  test -d $path; and set -ga fish_user_paths $path
end

if command -v vivid >/dev/null
{% if theme == 'nord' %}
  set -gx LS_COLORS (vivid generate nord)
{% elif theme == 'onedark' %}
  set -gx LS_COLORS (vivid generate one-dark)
{% endif %}
end

if command -v starship >/dev/null
  starship init fish --print-full-init | source
end

if command -v zoxide >/dev/null
  zoxide init fish | source
end

if command -v opam >/dev/null
  opam env | source
end

if command -v pyenv >/dev/null
  pyenv init - fish | source
  pyenv virtualenv-init - fish | source
end

set -gx GPG_TTY (tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
if test -z "$SSH_AUTH_SOCK"
  set -gx SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
end
