{% for dataset in (sanoid_datasets | dict2items) %}
[{{ dataset.key }}]
{% for option in (dataset.value | dict2items) %}
  {{ option.key }} = {{ option.value }}
{% endfor %}

{% endfor %}
#############################
# templates below this line #
#############################
{% for template in (sanoid_templates | dict2items) %}

[template_{{ template.key }}]
{% for option in (template.value | dict2items) %}
  {{ option.key }} = {{ option.value }}
{% endfor %}
{% endfor %}
