# Output ─────────────────────────────────────────────────────────────

# You can get the names of your outputs by running: swaymsg -t get_outputs
output eDP-1 resolution 1920x1080 position 0,0
workspace $ws1 output eDP-1
workspace $ws2 output eDP-1
workspace $ws3 output eDP-1
workspace $ws4 output eDP-1
workspace $ws5 output eDP-1
workspace $ws6 output eDP-1
workspace $ws7 output eDP-1
workspace $ws8 output eDP-1
workspace $ws9 output eDP-1
workspace $ws10 output eDP-1

# Inputs ─────────────────────────────────────────────────────────────

# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.
input type:touchpad {
    tap enabled
    tap_button_map lrm
    dwt enabled
    natural_scroll enabled
}

# Toggle touchpad
bindsym $mod+t exec {{ xdg_dir.libexec_dir }}/wayland/sway_touchpad

