# Ref: https://dnscrypt.info/public-servers/
server_names = ['{{ dnscrypt_server_names | join("', '") }}']

listen_addresses = ['127.0.0.1:53', '[::1]:53']

{% if dnscrypt_unprivileged_user != '' %}
user_name = '{{ dnscrypt_unprivileged_user }}'

{% endif %}
ipv4_servers = true
ipv6_servers = true
dnscrypt_servers = true
doh_servers = true
odoh_servers = true

# The require_* values don't have any effects wheb server_names is a non-empty list
require_dnssec = true
require_nolog = true
require_nofilter = false

# Enable experimental support for DoH3
http3 = true

blocked_query_response = 'refused'

lb_strategy = '{{ dnscrypt_lb_strategy }}'

{% if dnscrypt_log_file != '' %}
log_file = '{{ dnscrypt_log_file }}'

{% endif %}
use_syslog = {{ (dnscrypt_log_file == '') | bool | lower }}

# Increase network load for slightly better privacy
dnscrypt_ephemeral_keys = true

# Increase privacy and latency at the same time
tls_disable_session_tickets = true

bootstrap_resolvers = ['{{ dnscrypt_bootstrap_resolvers | join("', '") }}']

ignore_system_dns = true

netprobe_address = '{{ dnscrypt_netprobe_address }}'

block_ipv6 = false

block_unqualified = true

block_undelegated = true

reject_ttl = 10

cache_size = 4096
cache_min_ttl = 2400
cache_max_ttl = 86400

[query_log]
{% if dnscrypt_query_log_file != '' %}
  file = '{{ dnscrypt_query_log_file }}'
{% endif %}
  ignored_qtypes = ['DNSKEY', 'NS']

[nx_log]
{% if dnscrypt_nx_log_file != '' %}
  file = '{{ dnscrypt_nx_log_file }}'
{% endif %}

[blocked_ips]
  blocked_ips_file = 'blocked-ips.txt'
{% if dnscrypt_blocked_ips_log_file != '' %}
  log_file = '{{ dnscrypt_blocked_ips_log_file }}'
{% endif %}

[sources]

  [sources.'opennic']
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/opennic.md', 'https://download.dnscrypt.info/resolvers-list/v3/opennic.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
    cache_file = 'opennic.md'
    refresh_delay = 72
    prefix = ''

  [sources.public-resolvers]
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/public-resolvers.md', 'https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
    cache_file = 'public-resolvers.md'
    refresh_delay = 72
    prefix = ''

  [sources.relays]
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/relays.md', 'https://download.dnscrypt.info/resolvers-list/v3/relays.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
    cache_file = 'relays.md'
    refresh_delay = 72
    prefix = ''

  [sources.odoh-servers]
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/odoh-servers.md', 'https://download.dnscrypt.info/resolvers-list/v3/odoh-servers.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
    cache_file = 'odoh-servers.md'
    refresh_delay = 72
    prefix = ''

  [sources.odoh-relays]
    urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v3/odoh-relays.md', 'https://download.dnscrypt.info/resolvers-list/v3/odoh-relays.md']
    minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
    cache_file = 'odoh-relays.md'
    refresh_delay = 72
    prefix = ''

[anonymized_dns]
{% if dnscrypt_anonymized_dns_enabled | bool %}
  routes = [
{% for route in dnscrypt_anonymized_dns_routes %}
    { server_name = '{{ route.server_name }}', via = ['{{ route.via | join("', '") }}'] }
{% endfor %}
  ]

{% endif %}
  skip_incompatible = true

  direct_cert_fallback = false
