# See iwd.config(5) for all options

[General]
{%- if iwd_use_internal_dhcp | bool %}
EnableNetworkConfiguration=true
{% endif %}
AddressRandomization=network

[Network]
NameResolvingService=resolvconf
EnableIPv6=true

[Scan]
DisablePeriodicScan=false
DisableRoamingScan=true
