icons=1
max-icon-size=64
font={{ monospace_font }} {{ font_size }}
border-size=2
border-radius=10
margin=20,20,10
width=300
max-visible=10
default-timeout=10000
ignore-timeout=1
layer=overlay

# --- Colors --- #
background-color={{ colors.background }}{{ '%x' % ( (ui_opacity * 255.0) | round | int) }}
text-color={{ colors.blue }}ff
border-color={{ colors.blue }}ff
progress-color=source {{ colors.highlight }}ff

[urgency=low]
text-color={{ colors.blue }}ff

[urgency=normal]
text-color={{ colors.yellow }}ff

[urgency=high]
background-color={{ colors.red }}{{ '%x' % ( (ui_opacity * 255.0) | round | int) }}
text-color={{ colors.background }}ff
border-color={{ colors.yellow }}ff
default-timeout=0
