configuration {
    modi: "ssh,calc,file-browser-extended,emoji,drun,run";
    fixed-num-lines: true;
    font: "{{ monospace_font }} {{ font_size }}";
    show-icons: true;
    icon-theme: "{{ icon_theme }}";
    terminal: "{{ main_terminal_emulator }}";
{% if ssh_client == 'dropbear' %}
    ssh-client: "dbclient";
{% else %}
    ssh-client: "ssh";
{% endif %}
    ssh-command: "{{ main_terminal_emulator }} -e {ssh-client} {host}";
    run-shell-command: "{{ main_terminal_emulator }} -e sh -c '{cmd}; read'";
    drun-display-format: "{icon} {name}";
    disable-history: true;
    sidebar-mode: true;
    display-ssh: " ";
    display-calc: " ";
    display-file-browser-extended: " ";
    display-emoji: " ";
    display-drun: " ";
    display-run: " ";
}

@theme "{{ theme }}"
