/*******************************************************************************
 * ROFI Color theme
 * Based on {{ theme | capitalize() }} colorscheme
 *******************************************************************************/

* {
    blue:                        {{ colors.blue }};
    black:                       {{ colors.background }};
    green:                       {{ colors.green }};
    yellow:                      {{ colors.yellow }};
    purple:                      {{ colors.purple }};
    red:                         {{ colors.red }};
    white:                       {{ colors.white2 }};

    spacing:                     2;
    border-color:                var(blue);
    separatorcolor:              var(blue);
    foreground:                  var(white);
    normal-foreground:           var(foreground);
    active-foreground:           var(black);
    urgent-foreground:           var(black);
    selected-normal-foreground:  var(black);
    selected-active-foreground:  var(black);
    selected-urgent-foreground:  var(black);
    alternate-normal-foreground: var(normal-foreground);
    alternate-active-foreground: var(active-foreground);
    alternate-urgent-foreground: var(urgent-foreground);
    background:                  rgba({{ colors.background | local.user.hex_to_rgb | join(', ') }}, {{ ui_opacity }});
    background-color:            transparent;
    normal-background:           transparent;
    active-background:           var(green);
    urgent-background:           var(yellow);
    selected-normal-background:  var(blue);
    selected-active-background:  var(purple);
    selected-urgent-background:  var(red);
    alternate-normal-background: var(normal-background);
    alternate-active-background: var(active-background);
    alternate-urgent-background: var(urgent-background);
}
element {
    padding: 3px;
    cursor: pointer;
    spacing: 2px;
    border:  0;
}
element normal.normal {
    background-color: var(normal-background);
    text-color:       var(normal-foreground);
}
element normal.urgent {
    background-color: var(urgent-background);
    text-color:       var(urgent-foreground);
}
element normal.active {
    background-color: var(active-background);
    text-color:       var(active-foreground);
}
element selected.normal {
    background-color: var(selected-normal-background);
    text-color:       var(selected-normal-foreground);
}
element selected.urgent {
    background-color: var(selected-urgent-background);
    text-color:       var(selected-urgent-foreground);
}
element selected.active {
    background-color: var(selected-active-background);
    text-color:       var(selected-active-foreground);
}
element alternate.normal {
    background-color: var(alternate-normal-background);
    text-color:       var(alternate-normal-foreground);
}
element alternate.urgent {
    background-color: var(alternate-urgent-background);
    text-color:       var(alternate-urgent-foreground);
}
element alternate.active {
    background-color: var(alternate-active-background);
    text-color:       var(alternate-active-foreground);
}
element-text {
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
    highlight:        bold italic underline white;
}
element-icon {
    background-color: transparent;
    size:             {{ font_size_px | int + 6 }}px ;
    cursor:           inherit;
    text-color:       inherit;
}
window {
    background-color: var(background);
    border:           2;
    padding:          4;
    width:            500px;
}
mainbox {
    border:  0;
    padding: 0;
}
message {
    border:       2px dash 0px 0px ;
    border-color: var(separatorcolor);
    padding:      1px ;
}
textbox {
    text-color: var(foreground);
}
listview {
    fixed-height: 0;
    border:       2px 0px 0px ;
    border-color: var(separatorcolor);
    spacing:      4px ;
    scrollbar:    false;
    padding:      2px 0px 0px ;
}
scrollbar {
    width:        4px ;
    border:       0;
    handle-color: var(normal-foreground);
    handle-width: 4px ;
    padding:      0;
}
sidebar {
    border-color: var(separatorcolor);
    border:       2px dash 0px 0px ;
}
button {
    cursor:     pointer;
    spacing:    0;
    text-color: var(normal-foreground);
}
button selected {
    background-color: var(selected-normal-background);
    text-color:       var(selected-normal-foreground);
}
num-filtered-rows {
    expand:     false;
    text-color: var(foreground);
}
num-rows {
    expand:     false;
    text-color: var(foreground);
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: var(foreground);
}
inputbar {
    spacing:    0;
    text-color: var(normal-foreground);
    padding:    1px ;
    children:   [ prompt,textbox-prompt-colon,entry,num-rows ];
}
case-indicator {
    spacing:    0;
    text-color: var(normal-foreground);
}
entry {
    text-color:        var(normal-foreground);
    spacing:           0;
}
prompt {
    spacing:    0;
    text-color: var(normal-foreground);
}
mode-switcher {
    border:       2px 0px 0px ;
    border-color: var(separatorcolor);
}
case-indicator {
    spacing:    0;
    text-color: var(normal-foreground);
}
textbox-prompt-colon {
    expand:     false;
    str:        ":";
    margin:     0px 0.3em 0em 0em ;
    text-color: var(normal-foreground);
}
