home_tree = "{{ xdg_dir.data_home }}/luarocks"
homeconfdir = "{{ xdg_dir.config_home }}/luarocks"
local_by_default = true
rocks_trees = {
   {
      name = "user",
      root = "{{ xdg_dir.data_home }}/luarocks",
   },
   {
      name = "distro-modules",
      root = "/usr",
   },
   {
      lua_dir = "/usr/share/lua/common",
      name = "distro-modules-common",
      rocks_dir = "/usr/lib/luarocks/rocks-common",
      root = "/usr",
   },
   {
      name = "system",
      root = "/usr/local",
   },
}
