# Configuration file for foot terminal
# See foot.ini(5)

font={{ term_font }}:style=Regular:size={{ font_size }}
font-bold={{ term_font }}:style=Bold:size={{ font_size }}
font-italic={{ term_font }}:style=Italic:size={{ font_size }}
font-bold-italic={{ term_font }}:style=Bold Italic:size={{ font_size }}

underline-offset=2px

locked-title=true

pad=2x2

term=foot-direct

[environment]
TERMINAL_NAME=foot

[bell]
urgent=yes
notify=yes

[scrollback]
lines=10000

[cursor]
style=block
beam-thickness=1.0
color={{ colors.background | regex_replace('^#', '') }} {{ colors.foreground | regex_replace('^#', '') }}

[mouse]
hide-when-typing=yes

[colors]
alpha={{ ui_opacity }}
foreground={{ colors.foreground | regex_replace('^#', '') }}
background={{ colors.background | regex_replace('^#', '') }}

{% if theme == 'nord' %}
regular0=3b4252
regular1=bf616a
regular2=a3be8c
regular3=ebcb8b
regular4=81a1c1
regular5=b48ead
regular6=88c0d0
regular7=e5e9f0

bright0=4c566a
bright1=bf616a
bright2=a3be8c
bright3=ebcb8b
bright4=81a1c1
bright5=b48ead
bright6=8fbcbb
bright7=eceff4

dim0=373e4d
dim1=94545d
dim2=809575
dim3=b29e75
dim4=68809a
dim5=8c738c
dim6=6d96a5
dim7=aeb3bb
{% elif theme == 'onedark' %}
regular0=282c34
regular1=be5046
regular2=98c379
regular3=d19a66
regular4=61afef
regular5=c678dd
regular6=56b6c2
regular7=abb2bf

bright0=5c6370
bright1=e06c75
bright2=98c379
bright3=e5c07b
bright4=61afef
bright5=c678dd
bright6=56b6c2
bright7=ffffff
{% endif %}
