{% set zram_size_mb = [ansible_facts.memtotal_mb / 2, 4096] | min | round | int -%}

load_on_start=yes

unload_on_stop=yes

num_devices={{ zram_num_devices }}

{% for i in range(zram_num_devices) %}
type{{ i }}=swap
size{{ i }}={{ zram_size_mb }}
mlim0{{ i }}=
back{{ i }}=
icmp{{ i }}=
idle{{ i }}=
wlim{{ i }}=
notr{{ i }}=
maxs{{ i }}=1
algo{{ i }}=zstd
labl{{ i }}=zram{{ i }}
uuid0=
args0=

{% endfor %}
