{
  "extractor": {
    "archive": "{{ xdg_dir.data_home }}/gallery-dl/archive.sqlite3",
    "base-directory": "~/Pictures/gallery-dl",
    "image-unique": true,
    "chapter-unique": true,
    "date-format": "%Y-%m-%dT%H:%M:%S",
    "user-agent": "{{ user_agent }}",

    "mastodon": {
      "filename": "{id}_{media[id]}.{extension}",
      "directory": ["mastodon", "{account[acct]!l}"],
      "reblogs": true,
      "fosstodon.org": {
        "root": "https://fosstodon.org"
      }
    },
    "nitter": {
      "filename": "{tweet_id}_{num}.{extension}",
      "directory": ["twitter", "{user[name]}"],
      "quoted": true,
      "videos": "ytdl",
      "nitter.absturztau.be": {
        "root": "https://nitter.absturztau.be"
      }
    },
    "pixiv": {
      "filename": "{id}_p{num}.{extension}",
      "directory": ["Pixiv", "{user[name]}-{user[id]}"],
      "include": ["background", "artworks", "avatar"],
      "refresh-token": "{{ pixiv_refresh_token | default('') }}",
      "tags": "original"
    },
    "danbooru": {
      "external": true,
      "ugoira": true
    },
    "artstation": {
      "directory": ["ArtStation", "{user[username]}"],
    },
    "deviantart": {
      "directory": ["DeviantArt", "{author[username]}"],
      "include": ["gallery", "scraps", "favorite", "avatar"],
      "journals": "text"
    },
    "mangadex": {
      "lang": "en",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor} - {title}"]
    },
    "mangafox": {
      "chapter-filter": "lang == 'en'",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor}"]
    },
    "mangahere": {
      "chapter-filter": "lang == 'en'",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor} - {title}"]
    },
    "mangakakalot": {
      "chapter-filter": "lang == 'en'",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor} - {title}"]
    },
    "mangaread": {
      "chapter-filter": "lang == 'en'",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor}"]
    },
    "mangasee": {
      "chapter-filter": "lang == 'en'",
      "directory": ["Manga", "{manga}", "c{chapter}{chapter_minor}"]
    },
    "twitter": {
      "videos": "ytdl",
      "cards": "ytdl",
      "cards-blacklist": ["summary", "youtube.com", "player:twitch.tv"],
      "quoted": true,
      "pinned": true,
      "twitpic": true,
      "retweets": "original",
      "csrf": "auto"
    }
  },
  "postprocessors": [
    {
      "name": "zip",
      "extension": "cbz",
      "mode": "safe",
      "whitelist": ["mangadex", "mangafox", "mangahere", "mangakakalot", "mangaread", "mangasee"]
    }
  ],
  "downloader": {
    "part-directory": "/tmp/gallery-dl/.download/",
    "ytdl": {
      "config-file": "{{ xdg_dir.config_home }}/yt-dlp/config",
      "format": "bestvideo+bestaudio/best"
    }
  },
  "output": {
    "shorten": "eaw",
    "logfile": {
      "path": "{{ xdg_dir.state_home }}/gallery-dl/gallery-dl.log",
      "mode": "a",
      "level": "debug",
      "format": "{asctime} {name} [{levelname}]: {message}"
    },
    "unsupportedfile": {
      "path": "{{ xdg_dir.state_home }}/gallery-dl/unsupported.txt",
      "mode": "a",
      "format": "{asctime} {message}",
      "format-date": "%Y-%m-%d-%H-%M-%S"
    }
  },
  "cache": {
    "file": "{{ xdg_dir.cache_home }}/gallery-dl/cache.sqlite3"
  }
}
