           _       _            _      _
     /\   | |     (_)          | |    (_)
    /  \  | |_ __  _ _ __   ___| |     _ _ __  _   ___  __
   / /\ \ | | '_ \| | '_ \ / _ \ |    | | '_ \| | | \ \/ /
  / ____ \| | |_) | | | | |  __/ |____| | | | | |_| |>  <
 /_/    \_\_| .__/|_|_| |_|\___|______|_|_| |_|\__,_/_/\_\
            | |
            |_|

Welcome to `{{ ansible_facts.hostname }}`!

