default-key {{ users[ansible_facts.user_id]['gpg_signature'] }}
auto-key-locate keyserver
keyserver-options no-honor-keyserver-url

disable-cipher-algo 3DES
disable-cipher-algo BLOWFISH
disable-cipher-algo IDEA
cert-digest-algo SHA384
s2k-cipher-algo AES256
s2k-digest-algo SHA384
personal-cipher-preferences AES256 CAMELLIA256 TWOFISH
personal-digest-preferences SHA384 SHA512 SHA256
personal-compress-preferences ZLIB BZIP2 ZIP Uncompressed
default-preference-list SHA384 SHA512 SHA256 AES256 CAMELLIA256 TWOFISH ZLIB BZIP2 ZIP Uncompressed
default-new-key-algo ed25519/cert,sign+cv25519/encr

display-charset utf-8
no-comments
no-greeting
no-emit-version
ignore-time-conflict
photo-viewer "{{ image_viewer }} %i"
verify-options show-photos show-notations show-uid-validity
list-options show-usage show-uid-validity
no-symkey-cache
with-fingerprint
with-keygrip
keyid-format 0xlong
default-recipient-self
require-cross-certification
