match_vim_exit_behavior: true

color:
  dir_fg: !Rgb [{{ colors.blue | local.user.hex_to_rgb | join(', ') }}]
  file_fg: !Rgb [{{ colors.fg | local.user.hex_to_rgb | join(', ') }}]
  symlink_fg: !Rgb [{{ colors.cyan | local.user.hex_to_rgb | join(', ') }}]
  dirty_fg: !Rgb [{{ colors.highlight | local.user.hex_to_rgb | join(', ') }}]

exec:
  zathura:
    - pdf
    - ps
    - eps
    - ps.gz
    - djvu
    - djv
    - epub
    - cbr
    - cbz
    - cbt
    - cb7
  ebook-viewer:
    - mobi
    - pdb
  'ffplay -hide_banner -nodisp -autoexit':
    - wav
    - mp3
    - flac
    - m4a
    - wma
    - ape
    - opus
    - ac3
    - ogg
  mpv:
    - avi
    - mp4
    - wmv
    - dat
    - 3gp
    - ogv
    - mkv
    - m4v
    - mpg
    - mpeg
  {{ image_viewer }}:
    - bmp
    - jpg
    - jpeg
    - png
    - webp
    - gif
    - xpm
  inkscape:
    - svg
  krita:
    - ora
  libreoffice:
    - odt
    - doc
    - docx
    - sxw
    - xls
    - xlsx
    - ods
    - odp
    - ppt
    - pptx
  qtcreator:
    - pro
  aerc:
    - mbox
