# This file is written by xdg-user-dirs-update
# If you want to change or add directories, just edit the line you're
# interested in. All local changes will be retained on the next run.
# Format is XDG_xxx_DIR="$HOME/yyy", where yyy is a shell-escaped
# homedir-relative path, or XDG_xxx_DIR="/yyy", where /yyy is an
# absolute path. No other format is supported.
#
XDG_DESKTOP_DIR="{{ ansible_facts.user_dir }}/Desktop"
XDG_DOCUMENTS_DIR="{{ ansible_facts.user_dir }}/Documents"
XDG_DOWNLOAD_DIR="{{ ansible_facts.user_dir}}/Downloads"
XDG_MUSIC_DIR="{{ ansible_facts.user_dir}}/Music"
XDG_PICTURES_DIR="{{ ansible_facts.user_dir}}/Pictures"
XDG_PUBLICSHARE_DIR="{{ ansible_facts.user_dir}}/Public"
XDG_TEMPLATES_DIR="{{ ansible_facts.user_dir}}/Templates"
XDG_VIDEOS_DIR="{{ ansible_facts.user_dir}}/Videos"
