# unbound.conf(5) config file for unbound(8)

server:
	verbosity: 0

	interface: 127.0.0.1
	interface: ::1

	prefer-ip6: yes

	tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"

	# unbound should be managed by a service manager
	do-daemonize: no

	# only allow localhost
	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 allow
	access-control: ::0/0 refuse
	access-control: ::1/128 allow
	access-control: ::ffff:127.0.0.1 allow

	chroot: "/etc/unbound"
	directory: "/etc/unbound"

{% if not unbound_use_syslog | bool %}
	logfile: "/etc/unbound/unbound.log"
	use-syslog: no

{% endif %}
	pidfile: "/etc/unbound/unbound.pid"

	root-hints: "/etc/unbound/var/named.root"

	hide-identity: yes

	identity: "DNS"

	hide-version: yes

	hide-http-user-agent: yes

	http-user-agent: "DNS"

	hide-trustanchor: yes

	# TSIG or EDNS payloads might require large queries.
	# If it's needed, switch this option to 'no'.
	harden-large-queries: yes

	harden-algo-downgrade: yes

	# Experimental feature of draft dns-0x20
	# use-caps-for-id: yes

	qname-minimisation-strict: yes

	private-address: 10.0.0.0/8
	private-address: 172.16.0.0/12
	private-address: 192.168.0.0/16
	private-address: 169.254.0.0/16
	private-address: fd00::/8
	private-address: fe80::/10
	private-address: ::ffff:0:0/96

	# The man page recommends the value of 10 million. Default is off.
	unwanted-reply-threshold: 10000000

	# Increase the load on the machine, but keep the cache up-to-date
	prefetch: yes
	prefetch-key: yes

	deny-any: yes

	auto-trust-anchor-file: "/etc/unbound/var/trusted-key.key"

	# Use expired record when it can't be fetched upstream
	serve-expired: yes
	# The man page recommends a value between 86400 (1 day) to 259200 (3 days)
	serve-expired-ttl: 172800
	serve-expired-ttl-reset: yes

	# Rate limit for uncached queries. Experimental.
	# The man page recommends the value of 1000.
	ratelimit: 1000

forward-zone:
	name: "."
	forward-tls-upstream: yes
{% for server in unbound_dot_resolvers %}
	forward-addr: {{ server }}
{% endfor %}
